@{
    ViewBag.Title = "About Trash Collector";
}
<h2>@ViewBag.Title</h2>

<p>
    For years trash collection has been outdated and not up to modern times standards.</br>
    Trash Collector was born to modernize the way we collect waste around the country.</br>
    Its easy and intuitive, your grandma could even do it!
    </p>
